{% extends '@TeiEdition/Default/base.html.twig' %}

{% block contenttop %}
    <div class="jumbotron pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col offset-md-2 col-md-9">
                    <h4>{{ 'Look-up'|trans }}</h4>
                    <h1>{{ pageTitle }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {#<h1>{{ pageTitle }}</h1>#}
    <div class="row">
        {% embed '@TeiEdition/Person/index-listing.html.twig' %}{% endembed %}
        {% embed '@TeiEdition/Person/index-sidebar.html.twig' %}{% endembed %}
    </div><!-- .row -->
{% endblock %}
