/*
 * Here you can import web-fonts and define the scss variables
 * used defining text fonts
 */

@import 'font/Silka';

$font-stack-display-typeface: 'Silka', Arial, sans-serif;
$font-stack-sans: 'Silka', Arial, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-stack-book-typeface: 'Noto Serif', serif;
$font-stack-serif: 'Noto Serif', serif;
