/*
 * additional styles
 *
 */

header {
    /*
    border-bottom: 2px solid $color-gray-light;
    margin-bottom: 8px;
    */
    box-shadow: 0px 0.5px 1.5px $color-color-medium;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: $font-stack-display-typeface;
    color: $color-color-dark;

    a, a:visited {
        color: $color-color-dark;
        text-decoration: none;
        &:hover, &:active {
            color: $color-gray-light;
            text-decoration: underline;
        }
    }

    h1 {
        margin-top: 23px;
        margin-bottom: 11px;
        font-size: 22px;
        font-weight: bold;
        color: $color-color-spot;
        font-family: $font-stack-serif;

        /* line on the left, see https://stackoverflow.com/a/8573101 */
        &:before {
            content: "";
            position: absolute;
            left: -6px;
            top: 29px;
            border-left: 4px solid $color-color-spot;
            height: 60%;
        }

        #site-tagline {
            font-family: $font-stack-sans;
            font-size: 14px;
            font-weight: normal;
            color: $color-gray-dark;
        }

        a, a:visited {
            color: $color-color-spot;
            &:hover, &:active {
                color: inherit;
            }
        }
    }

    #menu-top {
        float: left;
        padding-right: 2rem;
        color: $color-color-medium;
        font-size: 85%;
        a {
            color: $color-text;
        }
    }

    #menu-lang {
        color: $color-color-medium;
        a {
            color: $color-color-medium;
        }
        li.current a {
            color: white;
        }
        float: left;
        text-transform: uppercase;
        border-left: 1px solid $color-color-medium;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* css drop-down, see also https://gist.github.com/nateevans/9958390 */
    #menu-top, #menu-main {
        li {
            position: relative;
        }

        li .menu_level_1 {
            min-width: 100%;
            display: none;
            position: absolute;
            z-index: 999;
            left: -5px;
            list-style: none;
            padding-left: 5px;
            padding-right: 5px;
            a:hover {
                color: $color-color-spot;
            }
        }

        li:hover {
            > a {
                color: $color-color-spot;
            }

            .menu_level_1 {
                display: block;
                a {
                    padding-right: 5px;
                }
            }
        }
    }

    #menu-top {
        li:hover .menu_level_1 {
            background-color: $color-color-medium;
            white-space: nowrap;
            a {
                color: $color-color-dark;
                &:hover {
                    color: white;
                }
            }
        }
    }

    #menu-main {
        margin-left: 0;
        margin-bottom: -5px;

        & > li {
            margin-right: 2px;
            border-bottom: 6px solid transparent;
            padding: 0;
            padding-bottom: 5px;
            a {
                font-weight: 600;
                padding: 5px;
                padding-right: 24px;
                &:hover {
                    color: $color-link;
                    text-decoration: none;
                }
            }

            > a {
            }
        }

        li:hover .menu_level_1 {
            margin-left: 0px;
            background-color: $color-color-lookup;
        }

        #menu-item-topic {
            a {
                display: inline-block;
                /*
                background: url("../img/icon/menu-topic.svg") no-repeat;
                background-position: right 6px center;
                background-color: $color-color-topic;
                */
            }
            &:hover /*, &.current */ {
                z-index: 999 !important;
                border-bottom: 4px solid $color-color-topic;
            }
        }

        #menu-item-map {
            a {
                display: inline-block;
                /*
                background: url("../img/icon/menu-map.svg") no-repeat;
                background-position: right 6px center;
                background-color: $color-color-map;
                */
                padding-right: 33px;
            }
            &:hover /*, &.current */ {
                z-index: 999 !important;
                border-bottom: 4px solid $color-color-map;
            }
        }

        #menu-item-chronology {
            a {
                padding-left: 0;
                display: inline-block;
                /*
                background: url("../img/icon/menu-chronology.svg") no-repeat;
                background-position: right 6px center;
                background-color: $color-color-chronology;
                */
            }
            &:hover /*, &.current */ {
                z-index: 999 !important;
                border-bottom: 4px solid $color-color-chronology;
            }
        }

        #menu-item-lookup {
            > a {
                /*
                background: url("../img/icon/menu-lookup.svg") no-repeat;
                background-position: right 6px center;
                */
                &:hover {
                    color: $color-color-spot;
                }

                &::after {
                    margin-left: 8px;
                    content: '\25BC';
                    display: inline-block;
                    transform: scale(1.4,0.8);
                }
            }

            a {
                display: inline-block;
                background-color: $color-color-lookup;
            }

            &:hover {
                /* border-bottom: 4px solid $color-color-lookup; */
            }
        }
    }

    #header-search-wrapper {
        input[type='text'] {
            width: 10em;
            background-color: $color-gray-medium;
            border: none;
            padding: 5px;
            padding-right: 26px;

            &::-webkit-input-placeholder {
                color: #CBD3DC !important;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    /* language selector on small screens */
    #menu-lang {
        position: absolute;
        top: 20px;
        right: 0;
        border-left: none !important;
    }

    #site-name {
        padding-top: 15px;
        h1 {
            /* adjust for padding-top */
            &:before {
                top: 44px;
                height: 55%;
            }
        }
    }
}

#top {
    margin-bottom: 20px;
}

.jumbotron {
    margin-bottom: 2rem; /* as in bootstrap 4 */
}

.jumbotron #carousel blockquote {
    max-width: 360px;
    color: #fff;
    p {
        font-family: $font-stack-serif;
        font-style: italic;
        font-size: 120%;
    }
    .blockquote-footer {
        color: inherit;
        background-color: inherit;
        a, a:visited, a:hover {
            color: #fff;
            text-decoration-color: #fff;
        }
    }
}

h4 {
    font-size: 100%;
    font-family: $font-stack-serif;
    font-weight: 600;
    color: $color-color-spot;
}

footer {
    margin-top: 1rem;
    margin-bottom: 0;

    font-family: $font-stack-display-typeface;
    a, a:visited {
        color: $color-background;
        &:hover {
            color: $color-background;
        }
    }

    #footer-social {
        background-color: $color-gray-light;
        padding-top: 12px;
        line-height: 32px;

        a.twitter {
            background: url("../img/icon/twitter.png") no-repeat;
            background-size: cover;
            height: 32px;
            width: 32px;
            display: inline-block;
        }
    }

    #footer-navigation {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        &#menu-main-footer {
            text-transform: uppercase;
        }
    }

    ul ul {
        padding-left: 20px;
    }
}

/* route-specific styles */
.route-date-chronology, .route-date-chronology-partial,
.route-event-index
{
    .epoch-label {
        position: relative;
        h4 {
            font-family: $font-stack-sans;
            color: $color-color-spot;
            background-color: #fff;
        }
    }

    .epoch-label:after {
        border-left: 2px solid $color-color-spot;
    }


    #epoch-navigation h5.active a {
        color: $color-color-spot;
    }

    .sidebar .box .row.box-color-title {
        background-color: $color-gray-light;
    }

    .panel.source-box {
        .panel-heading {
            padding: 0;
            color: inherit;
            a {
                color: $color-text;
            }
            background-color: inherit;

            &.sourcetype-icon.sourcetype-video {
                background-image: none;
            }
        }
    }
}

/*
.wp-content {
    margin-bottom: 4em;
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}
*/

.box-header.chronology {
    background-color: $color-color-chronology;
}

.box-header.map {
    background-color: $color-color-map;
}

/* since we moved the source description before the source */

a[href="#description"]{
    display: none;
}

#image-viewer-container {
    #description {
        display: none;
    }

    .source-description {
        font-style: italic;
    }
}

.sidebar {
    .box {

        .row {
            background-color: $color-gray-light;
            border-left: none;
            border-right: none;
            &:last-of-type {
                border-bottom: none;
            }

            &.box-color-title {
                background-color: $color-gray-light;

                h4 {
                    margin: 0;
                    color: $color-gray-medium;
                    text-transform: none;

                    a {
                        color: $color-gray-dark;
                    }
                }
            }

            &.box-color-content-inverse {
                border-color: $color-gray-light;
                background-color: $color-gray-light;
                a, a:visited {
                    color: inherit;
                }
            }

        }
    }
}

/* adjust timeline */
.epoch-content {
    .panel-heading {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .panel-body {
        a {
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* places path */
.wrapper > .smaller {
    margin-bottom: 16px;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

body.route-home {
    h2 {
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    #news {
        background-color: $color-gray-light;
        .news-item {
            background-color: $color-gray-light;
        }
    }
}

body[class*="route-person"],
body[class*="route-organization"],
body[class*="route-place"],
body[class*="route-date"],
body[class*="route-event"],
body[class*="route-about"], body.route-terms, body.route-contact
{
    > .jumbotron {
        background-color: $color-gray-light;
        padding-left: 0;
        padding-right: 0;
        h4 > a {
            color: $color-color-spot;
            text-decoration: none;
            &:hover {
                /*
                color: $color-color-dark;
                */
                text-decoration: underline;
            }
        }
    }
}

body.route-source {
    .jumbotron {
        background-color: $color-gray-light;

        #description {
            display: none;
        }

        margin-bottom: 45px;
        & > .container {
            margin-bottom: -45px;

            #image-viewer-header {
                border-left: 1px solid $color-color-spot;
                padding-bottom: 20px;
            }

            #image-viewer-date {
                color: $color-color-spot;

                .col-md-2 {
                    @media (max-width: $screen-sm-max) {
                        border-left: 1px solid $color-color-spot;
                    }
                }

                .col-1 {
                    border-left: 1px solid $color-color-spot;
                }
            }
        }
    }

    .mycoreViewer {
        .dta-time {
            color: $color-color-spot;
            span.entity-ref {
                font-weight: 600;
                color: $color-color-spot;
            }
        }
    }
}

/* don't show tei-license on about-pages */
body[class*="route-about"], body.route-terms {
    #license {
        display: none;
    }

    .article div.dta-list {
        margin-top: 0;

        .dta-list-item {
            display: inline-block;
            /* &:before { content: "-"; padding-right:7px; } */
        }
    }
}

/* for the moment, hide search */
#header-search-wrapper {
    display: none !important;
}
