$color-color-dark: #363636;
$color-color-medium: #9B9B9B;
$color-color-spot: #ff0000;

$color-color-topic: $color-color-spot;
$color-color-map: $color-color-spot;
$color-color-chronology: $color-color-spot;
$color-color-lookup: #fff;

$color-gray-dark: #363636;
$color-gray-medium: #909090;
$color-gray-light: #CCE7EF;
$color-gray-ultralight: #E9E9E9;

$color-text: #363636;
$color-link: #363636;
$color-hover: #363636;

$color-background: #fff;
$color-background-footer: #2c9cbc;
