$color-color-dark: #333;
$color-color-medium: #9B9B9B;
$color-color-spot:  rgba(255,0,48,1);

$color-color-topic: $color-color-spot;
$color-color-map: $color-color-spot;
$color-color-chronology: $color-color-spot;
$color-color-lookup: #fff;

$color-gray-dark: #363636;
$color-gray-medium: #909090;
$color-gray-light: #F7F5DF;
$color-gray-ultralight: #E9E9E9;

$color-text: #333;
$color-link: #333;
$color-hover: #333;

$color-background: #fff;
$color-background-footer: #363636;
