<form style="display: inline-block" method="post" action="{{ path('app_admin_organization_delete', {'id': organization.id}) }}" onsubmit="return confirm('{% trans %}Are you sure that you want to delete this entry?{% endtrans %}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organization.id) }}">
    <button class="btn btn-sm btn-light">{{ 'Delete'|trans }}</button>
</form>
