<form style="display: inline-block" method="post" action="{{ path('app_admin_organization_delete', {'id': organization.id}) }}" onsubmit="return confirm('Sind Sie sicher, dass Sie diesen Eintrag löschen wollen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organization.id) }}">
    <button class="btn btn-sm btn-light">löschen</button>
</form>
