{% extends 'base.html.twig' %}

{% block title %}Neue Organisation{% endblock %}

{% block body %}
    <h1>Organisation hinzufügen</h1>

    {{ include('Admin/Organization/_form.html.twig') }}

    <div class="mt-4">
        <a class="btn btn-sm btn-light" href="{{ path('app_admin_organisation_index') }}">
            {{ 'Back to overview'|trans }}
        </a>
    </div>
{% endblock %}
